footer
{
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: #1b1b1b;
}

body
{
    background: linear-gradient(90deg, #ffffff 0%, #d8d8d8 100%);
}

p span.author
{
    font-weight: bold;
    font-size: 1.2em;
}

p span.creation
{
    font-style: italic;
    font-size: 0.8em;
    font-weight: lighter;
    text-transform: uppercase;
}

.blog
{
    margin-top: 210px;
    width: 25%;
}

a
{
    text-decoration: none;
}

ul
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


li 
{
    list-style: none;
}

.blog-prog
{
    text-decoration: underline;
    text-decoration-color: #1f1ff5;
    -moz-text-decoration-color: blue;
}

.comments
{
    text-decoration: underline;
    font-style: italic;
}

.gestion-admin
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.art
{
    font-size: 1.5em;
}

p span.content
{
    font-size: 0.8em;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}