footer
{
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: #1b1b1b;
}

body
{
    background: linear-gradient(90deg, #ffffff 0%, #d8d8d8 100%);
}

p span.author
{
    font-weight: bold;
    font-size: 1.2em;
}

p span.creation
{
    font-style: italic;
    font-size: 0.8em;
    font-weight: lighter;
    text-transform: uppercase;
}

.blog
{
    width: 50%;
    animation-name: construction;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes construction {
    0% {margin-top: 0px;}
    100% {margin-top: 210px;}
}

a
{
    text-decoration: none;
}

ul
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


li 
{
    list-style: none;
}

.blog-prog
{
    text-decoration: underline;
    text-decoration-color: #d4d4d4;
    -moz-text-decoration-color: rgb(204, 204, 204);
}

.comments
{
    text-decoration: underline;
    font-style: italic;
}

.gestion-admin
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.art
{
    font-size: 1.4em;
    font-weight: lighter;
    opacity: 0;
    animation-name: fondu;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-style: oblique;
}

@keyframes fondu {
    0% {opacity: 0; margin-left: 10px;}

    100% {opacity: 1; margin-left: 0px;}
}


p span.content
{
    font-size: 0.8em;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}

.imagearticle
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imagearticle img
{
    margin-left: 25%;
    width: 50%;
}

.goback
{
    margin-left: 1100px;
}

